#customize-controls .control-section-music-freak .accordion-section-title:hover,
#customize-controls .control-section-music-freak .accordion-section-title:focus {
	background-color: #F6F7FB;
	color: #000;
}

.control-section-music-freak .accordion-section-title .button {
	margin-top:  -4px;
	font-weight: 400;
	margin-left: 8px;
	background-color: #ff98b6;
	border-color: #ff98b6;
	color: #fff;
}

.rtl .control-section-music-freak .accordion-section-title .button {
	margin-left:  0;
	margin-right: 8px;
}

li#accordion-section-music-freak h3.accordion-section-title {
    background-color: #F6F7FB;
    color: #000;
}
